<p id="notice"><%= notice %></p>

<h1>Secrets</h1>
<%= link_to 'Log Out', '/sessions/destroy', method: :delete, data: { confirm: 'Are you sure?' } %>
<table>
  <thead>
    <tr>
      <th>Secret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secrets.each do |secret| %>
      <tr>
        <td><%= secret.secret %></td>
        <td><%= link_to '' %></td>
        <!-- <td><%= link_to 'Show', secret %></td> -->
        <!-- <td><%= link_to 'Edit', edit_secret_path(secret) %></td> -->
        <% if like.id%>
        <td><%= link_to 'Like', secret, method: :post %></td>
        <% else %>
        <td><%= link_to 'Unlike', secret, method: :post %></td>
        <% end %>
        <td><%= link_to 'Delete', secret, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/users/<%= session[:user_id] %>">Profile</a>
